@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* common things */

body {
    font-family: 'poppins';
    color: #3A3A3A;
}

/* Bars */
nav .check-btn {
    font-size: 30px;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

nav #check {
    display: none;
}

.btn-primary {
    width: 35%;
    background: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    border-style: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.btn-primary .fa-solid {
    padding-left: 10px;
}

/* header styles */

.nav {
    align-items: center;
}

.nav-div1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.nav-div2>ul {
    display: inline-flex;
    gap: 30px;
}

.nav-div2>ul>li,
a {
    list-style-type: none;
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
}

/* main section */

.main-section {
    display: inline-flex;
    gap: 290px;
    margin-top: 100px;
    margin-left: 295px;
}

.section1 h2 {
    font-weight: 900;
    font-size: 52px;
    line-height: 70px;
    color: #3A3A3A;
    width: 582px;
    height: 110px;
}

.section1 p {
    width: 461px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
    color: #3A3A3A;
}

/* Ad section */

.ad {
    margin-top: 120px;
}

.ad ul {
    display: flex;
    margin-left: 10%;
    padding: 0;
}

.ad ul li {
    list-style: none;
    padding-left: 6%;
}

/* products section added */
.collection {
    width: 1047px;
    height: 1662px;
    margin-left: 23%;

}

.collection article h3 {
    text-align: center;
    font-size: 30px;
    line-height: 110px;
    color: #3A3A3A;
    margin-right: 46px;
}

article .btn-primary2,
.btn-primary2 .fa-solid {
    float: right;
    width: 10%;
    border-style: none;
    font-size: 16px;
    line-height: 24px;
    color: #E02C6D;
    /* margin-right: 10px; */
}

.collection .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 50px;
}

.collection .products .tools h2 {
    margin-bottom: 10px;
}

.collection .products .tools h3 {
    text-align: left;
    margin: 10px 0px;
    line-height: 30px;
}

.collection .products .tools p {
    margin: 0px 0px 50px 0px;
}

.collection .products .tools .text {
    display: flex;
    flex-direction: column;
}

/* collection end */

/* feature section */

.feature .feature-div {
    display: flex;
    column-gap: 50px;
    margin-top: 130px;
    margin-left: 18%;
    align-items: center;
}

.feature .feature-div .image {
    margin-top: 20px;
}

.feature .feature-div .feature-text {
    width: 50%;
}

.feature .feature-div .feature-text h2 {
    font-weight: 900;
    width: 100%;
    font-size: 40px;
    margin-top: 0px;
}

.feature .feature-div .feature-text .btn-primary3 {
    width: 20%;
    background: #E02C6D;
    padding: 10px 24px;
    border-style: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

/* feature section end*/

/* footer */

footer {
    margin-top: 100px;
    width: 100%;
    height: 239px;
    background: #0A0826;
    color: #D9DBE1;
}

footer .footer {
    text-align: center;
    padding-top: 20px;
}

.footer #author {
    font-variant: petite-caps;
    font-size: 14px;
    color: #E02C6D;
}

footer .footer .icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* Mobile Devices */

@media only screen and (max-width:576px) {
    body {
        margin: 0%;
    }

    /* bar start */
    nav .check-btn {
        display: block;
        float: left;
        margin-left: 10px;
    }

    .nav-div1 {
        flex-direction: inherit;
        justify-content: flex-end;
        margin-top: 0px;
    }

    .nav-div2 ul {
        display: flex;
        gap: 0px;
        padding-left: 30px;
        padding-right: 10px;
    }

    .hidden {
        display: none;
    }

    /* bar end */
    /* main start */

    .main-section {
        flex-direction: column-reverse;
        gap: 0px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .main-section .section2 {
        width: 100%;
    }

    .main-section .section2 img {
        width: 62%;
        margin-top: 50px;
        margin-left: 80px;
    }

    .section1 h2 {
        font-size: 34px;
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 60px;
        margin-top: 20px;
    }

    .section1 p {
        width: 69%;
        padding-left: 60px;
        text-align: center;
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 20px;
    }

    .btn-primary {
        width: 50%;
        padding: 10px 0px;
        margin-left: 96px;
    }

    /* main end */

    /* ad start */
    .ad {
        margin-top: 60px;
    }

    .ad ul {
        margin-left: 0;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .ad ul li {
        margin-inline: 25px;
        padding-left: 0%;
    }

    /* ad end */

}